*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #ffacea;
    --corSecundaria:#77015a;
    --corButton: blueviolet;
    --corButtonHover: #a862e9;
    --corButtonText: white;
    
}